.logo {
    height: 70px;         
    max-height: 70px;     
    width: auto;          
    object-fit: contain;   
    margin-top: -10px;    
    margin-bottom: -10px; 
    margin-left: 50px;   
}

.nav-link:hover,
.nav-link:focus {
   color: #6c757d; 
}

.nav-link {
  text-transform: uppercase;
  font: bold 0.9rem YAD0vgIBnsw_0, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #304054;
  transition: color .3s;
}

.navbar-toggler {
    border-color: #304054;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(48,64,84)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}